:root{
--Pale-blue: hsl(225, 100%, 94%);
--Bright-blue: hsl(245, 75%, 52%);
--Very-pale-blue: hsl(225, 100%, 98%);
--Desaturated-blue: hsl(224, 23%, 55%);
--Dark-blue: hsl(223, 47%, 23%);

font-size: 16px;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: grid;
    place-items: center;
    background: url(/images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    position: relative;
}
body::before{
    content: "";
    background-color: var(--Pale-blue);
    position: absolute;
}

.card{
    background: var(--Very-pale-blue);
    width: 330px;
    height: 83vh;
    border-radius: 1rem;
    margin-top: 4rem;
    box-shadow: 0px 1px 4px 0px rgb(208, 212, 215);
    text-align: center;
}
.hero-img{
    width: 330px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.card-content{
    margin-top: 1.5rem;
}
.card-content p{
    color: var(--Desaturated-blue);
    margin-top: 1rem;
    /* font-weight: 400; */
}

.card-details{
    display: flex;
    justify-content: space-around;
    margin: 2rem 1.5rem;
}
.pricing{
    margin-bottom: .5rem;
}
.pricing p{
    color: var(--Desaturated-blue);
}
.card-details a{
    color: var(--Bright-blue);
    margin-top: .5rem;
    margin-left: 2rem;
}
.card-details a:hover{
    cursor: pointer;
    text-decoration: none;
}

.payment-btn{
    display: block;
    text-decoration: none;
    padding: .75rem;
    background-color: var(--Bright-blue);
    color: var(--Very-pale-blue);
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: .5rem;
    /* box-shadow: 0px 1px 4px 5px rgb(208, 212, 215); */
}
.payment-btn:hover{
    cursor: pointer;
    background: rgb(105, 115, 182);
}

.cancle-btn{
    display: block;
    margin: 1rem;
    text-decoration: none;
    color: var(--Desaturated-blue);
}
.cancle-btn:hover{
    cursor: pointer;
    color: black;
}