@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

body {
    background: var(--Light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main {
    border-radius: 1rem;
    width: 90%;
    max-width: 400px;
    background: var(--White);
    text-align: center;
    padding: 2rem;
}

main img {
    width: 100%;
    max-width: 100%;
    border-radius: 2rem;
}

h1 {
    color: var(--Dark-blue);
    font-size: 1.75rem;
    padding: 1rem;
}

p {
    color: var(--Grayish-blue);
    font-size: 1rem;
    padding: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}