body{
    background:  hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}
.container{
    background: hsl(0, 0%, 100%);
    width: 30%;
    /* height: 50%; */
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    width: 90%;
    margin-top: 20px;
    border-radius: 3%;
}
h2{
    font-weight: 700;
    text-align: center;
    color: hsl(218, 44%, 22%);
    margin-top: 30px;
    width: 85%;
}
p{
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: 400;
    text-align: center;
    color: hsl(220, 15%, 55%);
}
